#dependencies directory
node_modules/
jspm_packages/

# logs
logs
*.logs
npm-debug.log
yarn-error.log
yarn-debug.log
lerna-debug.log
.serverless

# environment variables
.env
.env.test
.custom-env

# cache files
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.eslintcache
.cache
.parcel-cache
.npm

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
